@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
:root {
    --cor-de-fundo: #e97fe0;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
}
header {
    background: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.card__descricao {
    display: flex;
    justify-content: space-between;
}
.botoes {
    display: flex;
}
.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}
.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}